.facts-title {
    font-size: 82px;
    margin: 0;
    font-family: 'vtks_distressregular';
    letter-spacing: 0.3em;
    line-height: 1.25;
    color: #bba88b;
    text-align: center;
}

.facts-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-bottom: 10px;
}

.facts-header > img {
    max-width: 148px;
    margin: 0;
}

.body {
    width: 600px;
    margin: 40px auto 0 auto;
}